<header>
  <h1 class="header-logo-h1">
    <a routerLink="/" class="header-logo">John Hoey</a>
  </h1>
  <nav class="header-nav">
    <ul class="header-nav-ul">
      <li class="header-nav-ul-li">
        <a routerLink="/" class="header-nav-link">Link</a>
      </li>
      <li class="header-nav-ul-li">
        <a routerLink="/" class="header-nav-link">Link</a>
      </li>
      <li class="header-nav-ul-li">
        <a routerLink="/" class="header-nav-link">Link</a>
      </li>
      <li class="header-nav-ul-li">
        <a routerLink="/" class="header-nav-link">Link</a>
      </li>
    </ul>
  </nav>
</header>
